/* SECTION FOOTER */

.thefooter {
    padding-bottom: 0;

}

.thefooter__title {
    color: $secondaryColor !important;
    text-transform: uppercase;
    font-family: $defaultFont;
    font-size: modular_scale(1);
    letter-spacing: 1px;

}

.thefooter__p {
    font-size: modular_scale(0);
    line-height: 1.25;

}

.thefooter__hr {
    border-top: 4px solid $font-light-color;
    opacity: .5;
    width: 30px;
    margin-top: 0;
}

.thefooter__links {
    text-decoration: none;
}

.thefooter__nav {
    display:flex;
    flex-direction:column;
    list-style: none;
    padding: 0;
    margin:0;
}
.thefooter__list-item {
    padding: 0;
    margin-left:0 !important;
    margin-bottom:0;
    &:last-child{
      margin-bottom: 1rem;
    }

}
.thefooter__navlink a {
    display: block;
    text-decoration: underline !important;


}
