/* SECTION WELCOME HERO */

.welcome-hero {
	border-bottom: 10px solid $primaryColor;

	opacity: .90;
/*
		@include for-phone-only {
			background: url(assets/images/welcome-banner--small.jpg)!important ;
			background-position: center bottom !important;

		}
		@include for-tablet-portrait-up {
			background: url(assets/images/welcome-banner--medium-portrait.jpg)!important ;

		}
		@include for-tablet-landscape-up {
			background: url(assets/images/welcome-banner--medium-landscape.jpg)!important ;

		}

	@include for-desktop-up {
			background: url(assets/images/welcome-banner--xlarge-landscape.jpg)!important ;
		background-position: center center !important;
	} */

	&__title {
	  letter-spacing: 15px;
		font-family: $defaultFont;
		font-weight: 300;
		font-size: .85rem;

	}


}

/* SECTION ABOUT US */

.about {
    padding-top: 30px;
    padding-bottom: 0px;

	&__left-column {
	    padding-top: 30px;
	    background-image: url(assets/images/about__blob.png);
	    background-repeat: no-repeat;
	    background-size: 300px 300px;
	    background-position: center;

	}

	&__title {
	    color: $primaryColor;
	    font-size: modular_scale(5);
	    font-family: $specialFont;
	    font-weight: normal;

	    letter-spacing: 2px;
	}

	&__subtitle {
	    color: $accentColor1;
	    font-size: modular_scale(3);
	    font-family: $headingFont;
	    font-weight: 700;
	}

	&__p {
	    font-size: modular_scale(0);
	    font-weight: normal;
	    text-align: justify;
	}

	&__right-column {
	    padding-bottom: 0;
	}

}

/* SECTION OUR CLOTHING */

.products__right-column {
    background-image: url(assets/images/product__blob.png);
		background-repeat: no-repeat;
    background-size: 280px 280px;
    background-position: center center;
		overflow: hidden;

}
/* SECTION CATALOG BANNER */

.catalog-section__title {
    letter-spacing: 15px;
    font-family: $defaultFont;
    font-weight: bold;
    font-size: modular_scale(0)
}

.catalogos strong {
    text-shadow: 1px 1px 3px rgb(110, 110, 110);
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 40px;
    padding-right: 40px;


}

.catalogos__p {
    letter-spacing: 2px;
    font-family: $defaultFont;
    color: #d1ae6e;
    font-weight: bold;
    font-size: modular_scale(0);
    text-align: center;


}
/* CATALOG BY BIKINI STYLE */
.catalog__product-title-container {
	position: relative;
	width: 100% !important;
	height: 2.3rem;
	background-color: rgba(0,0,0, 0.1);
	text-align: center;


	@include for-desktop-up {
	padding-top: 2px;
	}
}
.catalog__product-title {
  margin-top: 4px;
	font-size: modular-scale(3);
	font-family: $headingFont;
	font-weight: 700 !important;
	color: #fff;
	text-transform: uppercase;


}
/* SECTION NEWSLETTER */

.newsletter {
    background: url(assets/images/goldsun@2x.png) no-repeat rgb(233, 230, 223);
    background-size: 100%;
    background-position: 0 150px;

    &__title {
        font-size: modular-scale(3);
	text-transform:uppercase;
	color: $primaryColor;
    }
&__description {
	font-size:1rem;
}


}


/* SECTION NEW ARRIVALS */

.new-arrivals {

	&__title {
		font-size: modular-scale(6)!important;
		font-weight:700 !important;
		text-transform:uppercase;
		letter-spacing:3px;

			@include for-phone-only {
			font-size: modular-scale(5)!important;
			}

	}

	&__description {
		font-size: modular-scale(1);

		@include for-phone-only {
			display: none;
		}
		&--span {
			font-size: modular-scale(1);
			text-transform: uppercase;
		}

	}
}

/* SECTION BLOG POSTS */
.myblog {

	&__article-title {
		font-size: modular-scale(3);
		color: $primaryColor;
		line-height: 1.33;
		text-align: left;
	}
	&__article-description {
		font-size: modular-scale(0);
		color:#333;
		line-height: 1.2;
		text-align: justify;
	}

}
