/* GLobals Mobile */ 

.box-text-products .title-wrapper {
    font-size: modular_scale(2);
}

.price-wrapper .price {
    font-size: modular_scale(1);
    font-weight: normal;
}

.alert-color {
    columns: $accentColor1;
}

div.wpcf7-mail-sent-ok {
    border: none;
}
#footer_navigation .col-inner ul li.thefoother__list-item {
    margin-left: 0;
}




